@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    position: relative;
}

header {
    font-family: "Aldrich", sans-serif;
    color: cornflowerblue;
}

header.logo {
    font-size: calc(100vw / 10);
    padding: calc(100vw / 10) 0;
    text-align: center;
}

.logo .dash {
    font-size: larger;
    display: inline-block;
    transform: translateY(-0.12em);
}

.logo .e {
    display: inline-block;
    transform: scaleX(-1);
}

.imageboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagecard {
    box-sizing: border-box;
    width: 30vw;
    height: 30vw;
    position: relative;
    padding: 0;
    margin: 1vw;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}

.imagecard .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagecard .text {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: white;
}

.imagecard .text .title {
    padding: 5px;
    background: linear-gradient(
        to bottom,
        rgba(44, 44, 44, 0.8),
        rgba(44, 44, 44, 0)
    );
}

.imagecard .text .footer {
    padding: 5px;
    background: linear-gradient(
        to top,
        rgba(44, 44, 44, 0.8),
        rgba(44, 44, 44, 0)
    );
    text-align: right;
}

.imagecard.upload {
    border: 4px solid cornflowerblue;
}

.imagecard.upload .add {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    cursor: pointer;
    font-family: "Aldrich", sans-serif;
    text-align: center;
    color: cornflowerblue;
    font-size: 4em;
}

.morebutton {
    cursor: pointer;
    font-family: "Aldrich", sans-serif;
    text-align: center;
    color: cornflowerblue;
    font-size: 4em;
}

.imagecard .text.upload {
    color: cornflowerblue;
    align-items: center;
    background-color: white;
}

.imagecard .text.upload form {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.big-image {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgb(63, 62, 62);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.big-image header {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 2vw;
}

.big-image header .nav,
.big-image header .close {
    margin: 0 10px;
    cursor: pointer;
}

.big-image main {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.big-image main .text {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: white;
}

.big-image main .text .title {
    padding: 5px;
    background: linear-gradient(
        to bottom,
        rgba(44, 44, 44, 0.8),
        rgba(44, 44, 44, 0)
    );
}

.big-image main .text .footer {
    padding: 5px;
    background: linear-gradient(
        to top,
        rgba(44, 44, 44, 0.8),
        rgba(44, 44, 44, 0)
    );
    text-align: right;
}

.big-image main .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.big-image main .comment-section {
    transform: translateY(-35px);
    color: white;
    width: 50%;

    transition-property: transform;
    transition-duration: 500ms;
}

.big-image main .comment-section .header {
    padding: 5px;
    height: 30px;
    cursor: pointer;
}

.big-image main .comment-section .header.visible {
    background: linear-gradient(
        to top,
        rgba(44, 44, 44, 0.8),
        rgba(44, 44, 44, 0)
    );
}

.big-image main .comment-section.visible {
    transform: translateY(calc(-100% - 10px));
}

.big-image main .comment-section .comments,
.big-image main .comment-section .add-comment {
    background-color: rgba(44, 44, 44, 0.8);
    padding: 10px 5px;
}

.big-image main .comment-section .comments {
    max-height: calc(100vh * 0.4);
    overflow: scroll;
}

.big-image main .comment-section .comments p {
    margin: 5px 0;
}

.big-image main .comment-section .add-comment form {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 60% 10%;
}

/* @media (orientation: landscape) {
    .logo {
        font-size: calc(100vw / 20);
        padding: calc(100vw / 20) 0;
    }
} */

@media screen and (max-width: 480px) {
    .imagecard {
        width: 95%;
        height: 95vw;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .imagecard {
        width: 45%;
        height: 45vw;
    }
}
